*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
    line-height:1.6;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#111827;
    padding:20px 8%;
    position:sticky;
    top:0;
}

.logo h2{
    color:#facc15;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

nav a:hover{
    color:#facc15;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(135deg,#0f172a,#1e293b);
}

.hero h1{
    font-size:48px;
    color:#facc15;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:#facc15;
    color:#111;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.about{
    max-width:900px;
    margin:auto;
    padding:80px 20px;
    text-align:center;
}

.about h2{
    color:#facc15;
    margin-bottom:20px;
}

footer{
    background:#111827;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:block;
    margin:10px 0;
}

.hero h1{
    font-size:34px;
}

.hero p{
    font-size:18px;
}

}
